@tailwind base;
@tailwind components;
@tailwind utilities;
@media (min-width: 700px) {
    .grid {
        /* max-width: 600px; */
        /* Limiting max width */
        margin: auto;
        /* Centering */
        background-color: white;
        background-image: radial-gradient(circle, black 5%, transparent 5%);
        background-size: 30px 30px;
        /* Default for larger screens */
        width: 100%;
    }
}

@font-face {
    font-family: anzo1;
    font-weight: 600;
    src: url(./assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2);
}

@font-face {
    font-family: anzo2;
    font-weight: 400;
    src: url(./assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2);
}

@font-face {
    font-family: anzo3;
    font-weight: 200;
    src: url(./assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2);
}